<p class="h3">注文情報確認</p>
<div class="container">
 <div class= "row">
  <div class= "col-md-6">
<table class="table table-bordered -sm">
 <thead>
  <tr>
   <th>商品名</th>
   <th>単価(税込)</th>
   <th>数量</th>
   <th>小計</th>
  </tr>
 </thead>
 <tbody>
   <% total = 0 %>
　<% @cart_items.each do |cart_item| %>
　<tr>
　  <td><%= image_tag cart_item.item.get_image(50,50)%><%= cart_item.item.name %></td>
    <td><%= (cart_item.item.price * 1.1).floor %></td>
    <td><%= cart_item.amount %></td>
    <td><%= (cart_item.item.price * 1.1).floor * cart_item.amount %></td>
  </tr>
    <% @total_payment +=(cart_item.item.price * 1.1).floor * cart_item.amount%>
  <% end %>
</tbody>
</table>
</div>
</div>
</div>

<% total = 0 %>
<div class="col-md-4 offset-md-1">
<table class="table table-bordered table-sm">
 <tbody>
  <tr>
   <td>送料</td>
   <td><%= @order.shipping_cost %></td>
  </tr>
  <tr>
   <td>商品合計</td>
   <td><%= @total_payment %></td>
  </tr>
  <tr>
   <td>請求金額</td>
   <td><%= @total_payment += @order.shipping_cost %></td>
  </tr>
 </tbody>
</table>
</div>

<div class="container">
 <div class= "row">
  <div class= "col-md-6">
   <table class="table table-borderless">
     <tbody>
      <tr>
       <td>支払方法</td>
       <td><%= @order.payment_method_i18n %></td>
      </tr>
      <tr>
       <td>お届け先</td>
       <td><%= @order.postal_code %>
           <%= @order.address %>
           <%= @order.name %>
       </td>
      </tr>
      <tr>
       <td></td>
       <td></td>
       <td><%= form_with model: @order,url: orders_path,method: :post  do |f| %>
           <%= f.hidden_field :customer_id, :value => current_customer.id %>
           <%= f.hidden_field :postal_code,:value => @order.postal_code  %>
           <%= f.hidden_field :address,:value => @order.address  %>
           <%= f.hidden_field :name,:value => @order.name  %>
           <%= f.hidden_field :shipping_cost,:value => @order.shipping_cost  %>
           <%= f.hidden_field :total_payment,:value => @total_payment  %>
           <%= f.hidden_field :payment_method,:value => @order.payment_method  %>
           <%= f.hidden_field :status,:value => @order.status %>
           <%= f.submit "注文を確定する",class: "btn btn-primary ml-5" %>
        </td>
      </tr>
      <% end %>
     </tbody>
    </table>
   </div>
  </div>
 </div>




