<p class="h3 ml-5">注文情報入力</p>

<div class= "col-8" >
<%= form_with model: @order,url:confirm_path do |f| %>
<table class= "table table-borderless ml-4">
   <tbody>
    <tr>
      <td>支払方法</td>
      <td><%= f.radio_button :payment_method, "credit_card" %>
          <%= f.label :payment_method_credit_card, "クレジットカード" %><br>
          <%= f.radio_button :payment_method, "transfer"  %>
          <%= f.label :payment_method_transfer, "銀行振込" %>
      </td>
    </tr>
    <tr>
      <td>お届け先</td>
      <td><%= f.radio_button :order_address, 0 %>
          <%= f.label :order_address_0, "ご自身の住所" %>
          <%= @order.postal_code %>
          <%= @order.address %>
          <%= @order.name %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.radio_button :order_address, 1 %>
          <%= f.label :order_address_1, "登録済みの住所から選択" %><br>
          <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.radio_button :order_address, 2 %>
          <%= f.label :order_address_2, "新しいお届け先" %>
      </td>
    <tr>
      <td></td>
      <td>郵便番号(ハイフンなし)</td>
      <td><%= f.text_field :postal_code %></td>
    </tr>
    <tr>
      <td></td>
      <td>住所</td>
      <td><%= f.text_field :address %></td>
    </tr>
    <tr>
      <td></td>
      <td>宛名</td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.submit "確認画面に進む",class: "btn btn-primary" %></td>
      <td></td>
    </tr>
</table>
<% end %>
</div>
