<p class="h3 ml-5">商品一覧(全9件)</p>

<div class= "row">
 <% @items.each do |item| %>
  <div class= "col">
    <div class="d-inline-block">
      <%= link_to item_path(item.id) do %>
        <% if item.image.attached? %>
        <%= image_tag item.image,size: "200x200" %>
        <% else %>
        <%= image_tag 'no_image', size: "200x200" %>
        <% end %>
        <div><%= item.name %></div>
        <div>¥<%= item.price %></div>
      <% end %>
    </div>
  </div>
<% end %>
</div>

